body {
    font-family: sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.section1 {
    background-color: #1f2937;
}