body {
    font-family: sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.section1 {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 400px;
}

.section1container {
    width: 500px;
    margin-right: 25px;
}

.section1-header {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.section1-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 10px;
}

.section1 button {
    background-color: #3882F6;
    margin-top: 10px;
    color: #f9faf8;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
}

.section1 img {
    width: 500px;
    height: 300px;
}

.section2-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin-top: 60px;
}

.section2container {
    display: flex;
    gap: 52px;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.info {
    display: flex;
    flex-flow: column wrap;
    width: 250px;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.section2 img {
    height: 250px;
    width: 250px;
    border-style: solid;
    border-radius: 15px;
    border-color: #3882F6;
}

.section3 {
    min-height: 300px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.section4 {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4-box {
    background-color: #3882F6;
    width: 900px;
    height: 120px;
    padding: 10px;
    border-radius: 15px;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}